<div class="panel-body">
  <%= simple_form_for @artist do |f| %>
    <%= f.input :name, label: false, input_html: { placeholder: "Name" } %>
    <%= f.input :bio, label: false, as: :text, input_html: { placeholder: "Artist Bio" } %>
    <%= f.input :image, label: false, input_html: { placeholder: "Image Url" } %>
    <%= f.submit "Submit".html_safe, class: 'btn btn-lg btn-danger' %>
  <% end %>
</div>
